body {
    /* overflow-x: hidden!important; */
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #f1f2f7;
   
    text-decoration: none;
    padding: 0;
    margin: 0;
    background: #fff;
  }
  .intro-img {
}
/* custom background color */

.bg-orange {
    background-color: #FF8A65;
}
.bg-teal-light {
    background-color: #4DB6AC;
}

.bg-pink-light {
    background-color: #F06292;
}

.bg-purple-light {
    background-color: #9575cd !important;
}


/* Login Page */

.intro-img {
    width: 50px;
    height: 50px;
}

.login-form input[type='text'],
input[type='password'] {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #E2E7EB;
    color: #555;
    font-size: 12px;
    line-height: 1.42857;
}

.remeber {
    color: #555;
    font-size: 12px;
}

.rm-fp a {
    color: #555;
    font-size: 12px;
    text-decoration: none;
}

.py-100 {
    padding: 100px 0px;
}

/* Navbar CSS */
.nav-bar {
    border: 1px solid #00000000;
}
.navabar-list {
    height: 50px;
}
.color-green {
    color:#00acac;;
}
nav form i {
    font-size: 12px;
    color: black;
}
nav form span {
    font-size: 14px;
}

/* Sidebar CSS */
.sidebar-list {
    position: absolute;
    width: 228px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: left 0.3s ease-in-out;
}

.side-logo img {
    border-radius: 50%;
}

#sidebar.active {
    left: -200px;
}

ul li a i {
    font-size: 15px;
}

ul li a span {
    font-size: 14px;
}

/* Main Content CSS */
.right-side-card {
    font-size: 50px;
}
.user-info img {
    border-radius: 50%;
    border: 5px solid rgba(256, 256, 256, 0.3);
    width: 60px;
    height: 60px;
}
.bg-maroon-light {
    background-color: #C24984 !important;
    color: #fff !important;
}
.user-info {
    border-radius: 4px;
}

.user-info .user-profile {
    border-radius: 4px 4px 0px 0px;
}
.user-info div div span {
    font-size: 16px;
    font-weight: 300;
}
.user-info div div p {
    font-size: 12px;
}
.user-info .form-list {
    border-radius: 0px 0px 4px 4px;
}
.user-info .form-list table {
    font-size: 12px;
    width: 100%;
}
.user-info .form-list table tr {
    border-top: 1px solid #EEEEEE;
    height: 45px;
}
.user-info .form-list table tr td {
    padding: 8px;
}
.user-info .form-list table tr td i {
    color: #C24984;
}
.user-info .form-list table:hover tr:hover td {
    background-color: #f0f3f5;;
}
table-hover>tbody>tr:hover>td {
    background-color: #f0f3f5;;

}
.notice table {
    font-size: 12px;
    width: 100%;
}
.notice table tr {
    border-top: 1px solid #EEEEEE;
}
.notice table tr td {
    padding: 8px;
}
.notice table tr td i {
    color: #C24984;
}
.notice table:hover tr:hover {
    background-color: #f0f3f5;;
}
.notice table tr td a {
    border-radius: 4px;
    padding: 2px;
}
.notice table tr td a i {
    margin: 5px;
    font-size: 12px;
}

/* calendar */
#calendar {
    max-width: 1100px;
    margin: 40px auto;
  }
  
/* footer */
/* .no-margin {
    font-size: 13px;
    font-size: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    position: fixed;
} */
footer {
    position: fixed;
    bottom: 0;
    font-size: 13px;
    /* left: 0; */
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
  }
  /*DashBoard.css
  */

 .wrap .header{
z-index: 1;
background: #fff;
position: fixed;
display: flex;
width: calc(100% - 0%);
height: 10%;
top:0;
 }
 .wrap .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 }
 .wrap .header .header-menu .title{
  float: left;
  font-size: 30px;
  line-height: 50px;
  width: 220px;
  font-family: 'OpenSans Regular';
  font-weight: 500;
  height: 50px;
  display: block;
  color:black;
 }
 .wrap .header .header-menu .sidebar-btn{
position: absolute;
margin-left: 240px;
font-size: 22px;
font-weight: 900;
cursor: pointer;

 }

 .right-menu ul{
  margin: 12px;
  display: flex;
  list-style: none;

 }
 .right-menu ul li a{
  color:black;
  display: block;
  font-size: 18px;
  width: 50px;
  height: 40;
  text-align: center;
  line-height: 35px;
 }
/*sidebar*/
.rounded-circle{
  width: 40px; 
  height: 40px;
}
 .img{
  width: 40px;
  height: 25px;
 }
 .itm{
  padding: 10px;
 }
 .navbar-nav a:hover{
  background: rgb(59, 56, 56);
 
 }
 .navbar-nav{
  width: 100%;
 }
 /*card*/
 .dash{
  background-color: #f1f2f7;;
 }
 .order-card {
  color: #fff;
}

.bg-c-blue {
  background:  #FF8A65;
}

.bg-c-green {
  background:  #4DB6AC;
}

.bg-c-yellow {
  background:  #F06292;
}

.bg-c-pink {
  background: #9575CD;
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 20px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/*golin Detais*/
.im{
  background:  #F06292;
  color: #fff;
}
.imgl{
  width: 60px; 
  height: 70px;
}

.icon {
  color: #F06292;
  min-width: 70px;
  text-align: center;
 
}
.footer1{
text-align: center;
}
/*sidebar menu Academic Class*/
.box-title{
  color:#1AA;
}
.search1{
  float: right;
}
.cls1{
  font-family: 'OpenSans Regular';
  font-size: 15px;
}
.text-red{
  color: red;
}
.sorting1{
  color: #cbcfd8;
 margin: 0px 15px;

}
.btn-info{
  cursor: pointer;
  color: #fff;
    background-color: #00acac;
    border-color: #00acac;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin-left: 190px;
}
.callout {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  background-color: #fcf2f2;
    border-color: #dFb5b4;}
    /* section css*/
    .section{
      float:right;
    }
    .note{
      background-color: #cbcfd8;
    }
